<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/telemetry" routerLinkActive="active">
        <mat-icon>sports_esports</mat-icon>
        Stream Telemetry        
      </a>
      <a mat-list-item routerLink="/manual" routerLinkActive="active">
        <!-- <mat-icon>sports_esports</mat-icon> -->
        <mat-icon>settings_input_component</mat-icon>
        Manual Control        
      </a>
      <a mat-list-item routerLink="/program-settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Program Settings
      </a>
      <a mat-list-item routerLink="/seat-settings" routerLinkActive="active">
        <mat-icon>chair</mat-icon>
        Seat Settings
      </a>
      <a mat-list-item routerLink="/connection" routerLinkActive="active">
        <mat-icon>cable</mat-icon>
        Connection
      </a>
    </mat-nav-list>
    <qrcode class="position-absolute bottom-0 start-0" *ngIf="url && !(isHandset$ | async)" [qrdata]="url" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
  </mat-sidenav>
  <mat-sidenav-content class="d-flex flex-column overflow-hidden">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SpeedSeat</span>
    </mat-toolbar>
    <div class="col d-flex flex-column overflow-hidden">
      <div class="overflow-auto upper-section">
          <router-outlet></router-outlet>
      </div>
      <div class="lower-section">
        <textarea disabled="true" #textarea [scrollTop]="logTextareaScrolltop" class="w-100 h-100" [value]='log'></textarea>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
