<div class="container-fluid h-100 overflow-auto">
    <div class="row gy-3 mt-1">
        <!-- Create one Container for each specified command-->
        <div class="col-12 col-xl-4" *ngFor="let command of commands">
            <mat-card class="h-100">
                <mat-card-header>
                    <mat-card-title>{{command.groupLabel}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="position-relative">
                    <!-- Switch/Case for Value1 -->
                    <ng-container *ngIf="command.value1 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>

                    <!-- Switch/Case for Value2 -->
                     <ng-container *ngIf="command.value2 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>

                    <!-- Switch/Case for Value3 -->
                    <ng-container *ngIf="command.value3 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>                 
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>