<div class="container-fluid h-100 overflow-auto">
    <div class="row gy-3 mt-1">
        <!-- Create one Container for each specified command-->
        <div class="col-12 col-xl-4" *ngFor="let command$ of commandObservables">
            <mat-card class="h-100" *ngIf="command$ | async as command">
                <mat-card-header>
                    <mat-card-title>{{command.groupLabel}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="position-relative">
                    <!-- Switch/Case for Value1 -->
                    <ng-container *ngIf="isInitialized && command.value1 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value" [readonly]="command.readonly"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onActionSettingChanged(command, 0)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>

                    <!-- Switch/Case for Value2 -->
                    <ng-container *ngIf="isInitialized && command.value2 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value" [readonly]="command.readonly"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onActionSettingChanged(command, 1)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>

                    <!-- Switch/Case for Value3 -->
                    <ng-container *ngIf="isInitialized && command.value3 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value" [readonly]="command.readonly"
                            (valueChanged)="onSettingChanged(command)"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"
                            (valueChanged)="onActionSettingChanged(command, 2)"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"
                            (valueChanged)="onSettingChanged(command)"></boolean-setting>
                    </ng-container>

                </mat-card-content>
            </mat-card>
        </div>

        <!-- Fake Commands -->
        <!-- <div class="col-12 col-xl-4" *ngFor="let command of fakeCommands">
            <mat-card class="h-100">
                <mat-card-header>
                    <mat-card-title>{{command.groupLabel}} Fake</mat-card-title>
                </mat-card-header>
                <mat-card-content class="position-relative">
                    <ng-container *ngIf="isInitialized && command.value1 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"></boolean-setting>
                    </ng-container>

                    <ng-container *ngIf="isInitialized && command.value2 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"></boolean-setting>
                    </ng-container>

                    <ng-container *ngIf="isInitialized && command.value3 as value" [ngSwitch]="value.type">
                        <numeric-setting *ngSwitchCase="ValueType.Numeric" [value]="value"></numeric-setting>
                        <action-setting *ngSwitchCase="ValueType.Action" [value]="value"></action-setting>
                        <boolean-setting *ngSwitchCase="ValueType.Boolean" [value]="value"></boolean-setting>
                    </ng-container>

                    <button (click)="onFakeWriteRequest(command)" mat-raised-button>Fake Write Request from
                        Microcontroller</button>
                </mat-card-content>
            </mat-card>
        </div> -->
    </div>
</div>