<div class="container-fluid h-100 mw-100 overflow-auto">
    <div class="row align-items-center justify-content-center">
        <div class="col col-md-12">
            <!-- <mat-card class="example-card mt-3">
                <mat-card-header>
                    <mat-card-title>Motor Positions</mat-card-title>
                </mat-card-header>
                <mat-card-content class="position-relative">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Front/Left</mat-label>
                                <input matInput type="number" min="0" max="1" step="0.05"
                                    [(ngModel)]="frontLeftMotorPosition">
                            </mat-form-field>
                        </div>
                        <div class="col p-0">
                            <mat-slider [disabled]="!isInitialized || !isConnected" min="0" max="1"
                                aria-label="Percentage (%)" class="w-100" step="0.00001"
                                (input)="frontLeftMotorPosition = $event.value" [value]="frontLeftMotorPosition">
                            </mat-slider>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Front/Right</mat-label>
                                <input matInput type="number" min="0" max="1" step="0.05"
                                    [(ngModel)]="frontRightMotorPosition">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-slider [disabled]="!isInitialized || !isConnected" min="0" max="1"
                                aria-label="Percentage (%)" class="w-100" step="0.00001"
                                (input)="frontRightMotorPosition = $event.value" [value]="frontRightMotorPosition">
                            </mat-slider>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Back</mat-label>
                                <input matInput type="number" min="0" max="1" step="0.05"
                                    [(ngModel)]="backMotorPosition">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-slider [disabled]="!isInitialized || !isConnected" min="0" max="1"
                                aria-label="Percentage (%)" class="w-100" step="0.00001"
                                (input)="backMotorPosition = $event.value" [value]="backMotorPosition"></mat-slider>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card> -->

            <mat-card class="example-card mt-3">
                <mat-card-header>
                    <mat-card-title>Motor Positions</mat-card-title>
                </mat-card-header>
                <mat-card-content class="position-relative">
                    <ng-container *ngIf="isInitialized && command != undefined">
                        <numeric-setting [value]="command.value1" (valueChanged)="onPositionsChanged(command)"></numeric-setting>
                        <numeric-setting [value]="command.value2" (valueChanged)="onPositionsChanged(command)"></numeric-setting>
                        <numeric-setting [value]="command.value3" (valueChanged)="onPositionsChanged(command)"></numeric-setting>
                    </ng-container>                 
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col col-md-12">
            <mat-card class="example-card mt-3">
                <mat-card-header>
                    <mat-card-title>Seat Tilt</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row align-items-center">
                        <div class="col-3">
                            Front/Back:
                        </div>
                        <div class="col">
                            <mat-slider [disabled]="!isInitialized || !isConnected" min="-1" max="1"
                                aria-label="Percentage (%)" class="w-100" step="0.00001"
                                (input)="frontTilt = $event.value" [value]="frontTilt"></mat-slider>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-3">
                            Left/Right:
                        </div>
                        <div class="col">
                            <mat-slider [disabled]="!isInitialized || !isConnected" min="-1" max="1"
                                aria-label="Percentage (%)" class="w-100" step="0.00001"
                                (input)="sideTilt = $event.value" [value]="sideTilt"></mat-slider>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>