<div class="row align-items-center">
    <div class="col-auto">
        <mat-form-field appearance="outline">
            <mat-label>{{value.label}}</mat-label>
            <input matInput type="number" [min]="value.min" [max]="value.max" [step]="value.scaleToFullRange? 0.05 : 1" [(ngModel)]="value.value">
        </mat-form-field>
    </div>
    <div class="col p-0">
        <mat-slider [min]="value.min" [max]="value.max" aria-label="Percentage (%)" class="w-100"
            [step]="value.scaleToFullRange? 0.001 : 1" (input)="value.value = $event.value" [value]="value.value"
            (valueChange)="valueChanged.emit()"></mat-slider>
    </div>
</div>