<div class="container h-100 overflow-auto">
  <div class="row align-items-start justify-content-center">
    <div class="col-12 col-xl-4">
      <mat-card class="mt-3">
          <mat-card-header>    
            <mat-card-title>Motor Mapping</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <div class="row align-items-start">
                  <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Front/Left Motor Index</mat-label>
                      <mat-select [(value)]="frontLeftMotorIdx">                        
                        <mat-option [value]="0">0</mat-option>                    
                        <mat-option [value]="1">1</mat-option>                    
                        <mat-option [value]="2">2</mat-option>                    
                      </mat-select>
                    </mat-form-field>                    
              </div>              
              <div class="row align-items-start">
                  <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Front/Right Motor Index</mat-label>
                      <mat-select [(value)]="frontRightMotorIdx">                        
                        <mat-option [value]="0">0</mat-option>                    
                        <mat-option [value]="1">1</mat-option>                    
                        <mat-option [value]="2">2</mat-option>                    
                      </mat-select>
                    </mat-form-field>                    
              </div>              
              <div class="row align-items-start">
                  <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Back Motor Index</mat-label>
                      <mat-select [(value)]="backMotorIdx">                        
                        <mat-option [value]="0">0</mat-option>                    
                        <mat-option [value]="1">1</mat-option>                    
                        <mat-option [value]="2">2</mat-option>                    
                      </mat-select>
                    </mat-form-field>                    
              </div>              
          </mat-card-content>            
      </mat-card>
    </div>    
    <div class="col-12 col-xl-4">
      <mat-card class="mt-3">
        <mat-card-header>    
          <mat-card-title>Tilt Axis Priority</mat-card-title>
        </mat-card-header>
        <mat-card-content class="position-relative">
            <div class="row align-items-center">
                <div class="col-auto p-0">
                    Side Tilt
                </div>                    
                <div class="col  p-0">
                    <mat-slider min="0" max="1" aria-label="Percentage (%)" class="w-100" step="0.00001"
                    (input)="frontTiltPriority = $event.value"
                    [value]="frontTiltPriority"></mat-slider>     
                </div>
                <div class="col-auto p-0">
                  Front/Back Tilt
              </div>
            </div>
            
        </mat-card-content> 
      </mat-card> 
    </div>
    <div class="col-12 col-xl-4">
      <mat-card class="mt-3">
        <mat-card-header>    
          <mat-card-title>Back Motor Response</mat-card-title>
        </mat-card-header>
        <mat-card-content>              
            <app-curve-editor
              [(curve)]="backMotorResponseCurve"
              [config]="{handleSize: 25}"
              ></app-curve-editor>
        </mat-card-content> 
      </mat-card>
    </div>         
  </div>      
</div>