<div class="container h-100">
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-6">
        <mat-card class="example-card mt-3">
            <mat-card-header>    
              <mat-card-title>Port Settings</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row align-items-start">
                    <div class="col-10">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Port</mat-label>
                        <mat-select [(value)]="selectedPort">                        
                          <mat-option *ngFor="let port of ports" [value]="port">{{port}}</mat-option>                    
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <button (click)="refreshPorts()" mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                      </button>
                    </div>
                    
                </div>              
            </mat-card-content> 
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button *ngIf="!isConnected" [disabled]="!selectedPort" mat-raised-button color="primary" (click)="connect()">Connect</button>
              <button *ngIf="isConnected" mat-raised-button color="primary" (click)="disconnect()">Disconnect</button>
            </mat-card-actions>
        </mat-card>
      </div>    
    </div>  
  </div>