<div class="container h-100">
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-6">
        <mat-card class="example-card mt-3">
            <mat-card-header>    
              <mat-card-title>Port Settings</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row align-items-start">
                    <div class="col-10">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Port</mat-label>
                        <mat-select [(value)]="selectedPort">                        
                          <mat-option *ngFor="let port of ports" [value]="port">{{port}}</mat-option>                    
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <button (click)="refreshPorts()" mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                      </button>
                    </div>                    
                </div>         
                <div class="row align-items-start">
                  <div class="col">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Select Baud Rate</mat-label>
                      <mat-select [(value)]="selectedBaudRate">                        
                        <mat-option [value]="9600">9600</mat-option>                    
                        <mat-option [value]="14400">14400</mat-option>                    
                        <mat-option [value]="19200">19200</mat-option>                    
                        <mat-option [value]="28800">28800</mat-option>                    
                        <mat-option [value]="38400">38400</mat-option>                    
                        <mat-option [value]="57600">57600</mat-option>                    
                        <mat-option [value]="76800">76800</mat-option>                    
                        <mat-option [value]="115200">115200</mat-option>                    
                        <mat-option [value]="230400">230400</mat-option>                    
                        <mat-option [value]="250000">250000</mat-option>                    
                      </mat-select>
                    </mat-form-field>
                  </div>                        
              </div>                  
            </mat-card-content> 
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button *ngIf="!isConnected" [disabled]="!selectedPort" mat-raised-button color="primary" (click)="connect()">Connect</button>
              <button *ngIf="isConnected" mat-raised-button color="primary" (click)="disconnect()">Disconnect</button>
            </mat-card-actions>
        </mat-card>
      </div>    
    </div>  
  </div>